body {
    margin: 0;
    padding: 0;
    background-color: #c7254e;
}

.logo {
    background-color: #FFAB00;
    text-align: center;
    position: relative;
    z-index: 999;
    width: 65%;
    height: 100px;
    margin: auto;
}
.menu { /*Itt meg kéne oldani, hogy ha átméretezzük kicsire a böngészők, akkor a szöveg ne lógjon ki a keretből. Arányosan csökkenjen a mérete a kerettel.*/
    background-color: black;
    text-align: center;
    margin: auto;
    width: 65%;
    height: 150%;
    font-family: 'Lobster', sans-serif;
    display: flex;
}
/*
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c7254e;
} a törlésük nem hozott semmilyen változást*/

.menu li {
    display: inline-block;
    font-family: Lobster, sans-serif;
    font-size: 1.3vw; /*Így tudtam csak elérni, hogy a weboldal átméretezésénél ne lógjon ki a sávból. Nem biztos, hogy a legjobb megoldás*/
    letter-spacing: 5px;
    margin: auto;
}

li a {
    display: compact;
    color: #FFAB00;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    /*background-color: #000; - legyen kocka háttér a gombnál */
    color: #FFF;
}

.content-box {
    background: #000;
    color: #000;
    height: 500px;
    margin: 0 auto;
    position: relative;
    top: 0;
    bottom: 0;
    width: 65%;
    height: 450px;
}
.content-header {
    background-image: url("images/curry.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    top: 0px;
    height: 500px;
}
.content-body {
    margin: 0 auto;
    width: 100%;
    position: relative;
    top: -20px; /*Ide csak beigazítottam, de kéne egy olyan megoldást találni, ami automatikusan beigazítja az elötte lévő div után*/
    background-color: #FFAB00;
}
.content {
    width: 97%;
    margin: auto;
    background: #FFF;
}

.videoplayer {
    text-align: center;

}



h1, h2, h3, p {
    font-family: Lato, sans-serif;
    font-weight: normal;
}

h1 {
    background-color: #FFAB00;
    color: #000;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    line-height: 40px;
    margin: 0px;
    padding: 20px;
    position: relative;
    text-transform: uppercase;
    top: 80px;
    width: 53%; 
    /*Ide kéne egy olyan megoldás, hogy a szöveg hosszúságához mérten lője be a csík hosszúságát*/
}

h2 {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    position: relative;
    left: 0px;
    margin: 0;
}

h3 {
    color: #000;
    font-size: 16px;
    position: relative;
    left: 0px;
    letter-spacing: 2px;
    margin: 0;
}

p {
    color: #000;
    max-width: 100%;
    min-height: 200px;
    position: relative;
    
}