/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017.04.09., 23:20:53
    Author     : Gábor
*/

div {
    text-align: center;
}

button {
    background-color: red;
    border: 2px solid black;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

button:hover {
    background-color: blue;
    border: 2px solid black;
    color: white;
    font-weight: bold;
    font-size: 20px;
}